<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <div class="wrapper">
        <div id="baotri">
            <div class="baotri" style="background-image: url('./img/bg-baotri.png');">
                <div class="container">
                    <div class="wrapper-container">
                        <a href="#" class="icon-logo">
                            <img src="img/logo-ipico.png" alt="logo-ipico.png">
                        </a>
                        <div class="wrapper-content">
                            <span class="meta-title tt-30">
                                Chào mừng đến với ipico.com.vn
                            </span>
                            <h3 class="txt-title tt-50 ">
                                Website đang xây dựng
                            </h3>
                            <p class="txt-content">
                                Website của chúng tôi trong quá trình xây dựng. Xin vui lòng trở lại sau. Xin cảm
                                ơn!<br>
                                Hiện tại bạn có thể liên hệ với tôi qua địa chỉ
                            </p>
                            <span class="tt-20">email: <a href="mailto:contact@ipico.com.vn" class="f-bold">contact@ipico.com.vn</a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

   <!-- js -->
   <script src="./js/libs/jquery-3.5.1.js"></script>
   <!-- AOS -->
   <script src="./js/libs/aos/aos.js"></script>
   <!-- Swiper -->
   <script src="./js/libs/swiper/swiper.min.js"></script>
   <!-- lighrgallery -->
   <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
   <!-- popup -->
   <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
   <!-- fluidplayer -->
   <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
   <!-- wow -->
   <script src="./js/libs/wow/wow.min.js"></script>
   <!-- Style -->
   <script src="./js/style.js" type="module" defer></script>
</body>

</html>