<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="#">tin tức</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">TÀI LIệU</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>

                                </ul>
                                <div class="header-lang-mobi">
                                </div>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-right">
                                <div class="header-lang-desktop">
                                    <div class="box-lang item-menu ">
                                        <select class="vodiapicker">
                                            <option value="VN" class="test" data-thumbnail="img/VN.png">
                                            </option>
                                            <option value="EN" data-thumbnail="img/EN.png">
                                            </option>
                                        </select>

                                        <div class="lang-select">
                                            <button class="btn-select" value=""></button>
                                            <div class="lang-content">
                                                <ul id="a"></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="header-subjects">
                                <div class="subject-title">
                                    <img src="./img/icon-grid.png" alt="icon-grid.png">
                                </div>

                                <div class="subject-content">
                                    <ul class="subject-list">
                                        <li class="subject-item">
                                            <a href="#">giới thiệu</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Dự án</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Thương mại - dịch vụ</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Hỗ trợ đầu tư</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">TIN TỨC</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Tuyển dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banner banner-page" style="background-image: url('./img/banner-lienhe.png');">
                <div class="container-full">
                    <div class="banner-wrapper" id="banner-slide">
                        <h3 class="banner-title tt-50 t-uppercase f-bold">
                            CÂY XANH CẢNH QUAN
                        </h3>
                    </div>
                </div>
            </div>

            <div class="breadcrumb mt-30">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list">
                            <a href="news.html"> Thương mại - dịch vụ</a>
                        </li>
                        <li class="breadcrumb-list current">
                            <a href="news.html"> Cây xanh cảnh quan</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-content-landing">
                <div class="box-fx box-fx-intro">
                    <div class="box-inner">
                        <div class="box-fx-title">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>
                        </div>
                        <ul class="box-list">
                            <li class="box-item">
                                <a href="#intro" class="active">
                                    Giới thiệu chung
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#product">
                                    Sản phẩm
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#project">
                                    Dự án nổi bật
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#document">
                                    Tải tài liệu
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <section class="landing sec-gioithieu " id="intro">
                    <div class="container">
                        <div class="wrapper-container">
                            <h3 class="txt-title t-uppercase tt-24 wow animate__bounceIn">
                                giới thiệu chung
                            </h3>
                            <div class="wrapper-gioithieu">
                                <div class="columns">
                                    <div class="column">
                                        <p class="txt-desc">
                                            <span class="f-bold">Giới thiệu: </span>IPICO cung cấp các dịch vụ cây xanh
                                            cảnh
                                            quan, cây xanh công trình cho
                                            các nhà máy khu công nghiệp, resort, khách sạn, quán café, công ty… Cây xanh
                                            phong
                                            phú Với chất lượng cao và giá cả hợp lí cùng đội ngũ nhân viên kỹ thuật
                                            chuyên
                                            ngành
                                            Cảnh quan chuyên nghiệp và lành nghề.
                                        </p>
                                    </div>
                                    <div class="column">
                                        <p class="text-desc">
                                            <span class="f-bold">
                                                Vườn ươm:
                                            </span>
                                            50ha tại Tân Uyên – Bình Dương và Hàm Tân – Bình Thuận
                                        </p> <br>
                                        <span class="f-bold">
                                            Sản phẩm dịch vụ:
                                        </span>
                                        <ul>
                                            <li>
                                                <p>Cung cấp cây xanh cảnh quan</p>
                                            </li>
                                            <li>
                                                <p>Thiết kế cảnh quan
                                                </p>
                                            </li>
                                            <li>
                                                <p>Thi công cảnh quan</p>
                                            </li>
                                            <li>
                                                <p>Bảo dưỡng cảnh quan
                                                </p>
                                            </li>
                                            <li>
                                                <p>Cung cấp vật tư</p>
                                            </li>
                                            <li>
                                                <p>Cho thuê cây sự kiện</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="landing sec-slide-noibat bg-gray over-hidden" id="product">
                    <div class="container">
                        <div class="wrapper-container">
                            <h3 class="txt-title tt-24 t-uppercase wow animate__bounceIn">
                                Sản phẩm Nổi bật
                            </h3>
                            <div class="slide-3" id="slide-product-noibat" data-aos="fade-up">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#">
                                                            <img src="img/product-noibat-1.png"
                                                                alt="product-noibat-1.png">
                                                        </a>
                                                    </div>
                                                    <div class="box-title">
                                                        <a href="#" class="content-title">Thiết kế cảnh quan</a>
                                                    </div>
                                                </div>
                                                <div class="box-content">
                                                    <p class="txt-desc">
                                                        Tư vấn phát triển ý tưởng thiết kế cảnh quan sân vườn phù hợp
                                                        nhất với phong cách, hay thông điệp bạn muốn gửi gắm
                                                    </p>
                                                    <a href="#" class="link-w-100">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#">
                                                            <img src="img/product-noibat-2.png"
                                                                alt="product-noibat-2.png">
                                                        </a>
                                                    </div>
                                                    <div class="box-title">
                                                        <a href="#" class="content-title">cung cấp cây xanh</a>
                                                    </div>
                                                </div>
                                                <div class="box-content">
                                                    <p class="txt-desc">
                                                        Tư vấn phát triển ý tưởng thiết kế cảnh quan sân vườn phù hợp
                                                        nhất với phong cách, hay thông điệp bạn muốn gửi gắm
                                                    </p>
                                                    <a href="#" class="link-w-100">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#">
                                                            <img src="img/product-noibat-3.png"
                                                                alt="product-noibat-3.png">
                                                        </a>
                                                    </div>
                                                    <div class="box-title">
                                                        <a href="#" class="content-title">Bảo dưỡng</a>
                                                    </div>
                                                </div>
                                                <div class="box-content">
                                                    <p class="txt-desc">
                                                        Tư vấn phát triển ý tưởng thiết kế cảnh quan sân vườn phù hợp
                                                        nhất với phong cách, hay thông điệp bạn muốn gửi gắm
                                                    </p>
                                                    <a href="#" class="link-w-100">Xem thêm</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing sec-slide-noibat over-hidden" id="project">
                    <div class="container">
                        <div class="wrapper-container">
                            <div class="wrapper-slide-noibat">
                                <h3 class="txt-title tt-24 t-uppercase wow animate__bounceIn">
                                    các dự án Nổi bật
                                </h3>
                                <div class="slide-3" id="slide-duan-noibat" data-aos="fade-up" data-aos-offset="-300">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="box-product-v">
                                                    <div class="wrapper-img">
                                                        <div class="box-img">
                                                            <a href="#">
                                                                <img src="img/product-noibat-1.png"
                                                                    alt="product-noibat-1.png">
                                                            </a>
                                                        </div>
                                                        <div class="box-title">
                                                            <a href="#" class="content-title">Thiết kế cảnh quan</a>
                                                        </div>
                                                    </div>
                                                    <div class="box-content">
                                                        <p class="txt-desc">
                                                            Tư vấn phát triển ý tưởng thiết kế cảnh quan sân vườn phù
                                                            hợp
                                                            nhất với phong cách, hay thông điệp bạn muốn gửi gắm
                                                        </p>
                                                        <a href="#" class="link-w-100">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="box-product-v">
                                                    <div class="wrapper-img">
                                                        <div class="box-img">
                                                            <a href="#">
                                                                <img src="img/product-noibat-2.png"
                                                                    alt="product-noibat-2.png">
                                                            </a>
                                                        </div>
                                                        <div class="box-title">
                                                            <a href="#" class="content-title">cung cấp cây xanh</a>
                                                        </div>
                                                    </div>
                                                    <div class="box-content">
                                                        <p class="txt-desc">
                                                            Tư vấn phát triển ý tưởng thiết kế cảnh quan sân vườn phù
                                                            hợp
                                                            nhất với phong cách, hay thông điệp bạn muốn gửi gắm
                                                        </p>
                                                        <a href="#" class="link-w-100">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="box-product-v">
                                                    <div class="wrapper-img">
                                                        <div class="box-img">
                                                            <a href="#">
                                                                <img src="img/product-noibat-3.png"
                                                                    alt="product-noibat-3.png">
                                                            </a>
                                                        </div>
                                                        <div class="box-title">
                                                            <a href="#" class="content-title">Bảo dưỡng</a>
                                                        </div>
                                                    </div>
                                                    <div class="box-content">
                                                        <p class="txt-desc">
                                                            Tư vấn phát triển ý tưởng thiết kế cảnh quan sân vườn phù
                                                            hợp
                                                            nhất với phong cách, hay thông điệp bạn muốn gửi gắm
                                                        </p>
                                                        <a href="#" class="link-w-100">Xem thêm</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                            <div class="wrapper-customer ">
                                <h3 class="txt-title tt-24 t-uppercase wow animate__bounceIn">
                                    khách hàng tiêu biểu
                                </h3>
                                <div class="slide-3" id="slide-customer" data-aos="fade-up" data-aos-offset="-600">
                                    <div class="swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="box-img">
                                                    <a href="img/customer-1.png" class="img-light">
                                                        <img src="img/customer-1.png" alt="customer-1.png">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="box-img">
                                                    <a href="img/customer-2.png" class="img-light">
                                                        <img src="img/customer-2.png" alt="customer-2.png">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="box-img">
                                                    <a href="img/customer-3.png" class="img-light">
                                                        <img src="img/customer-3.png" alt="customer-3.png">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="box-img">
                                                    <a href="img/customer-4.png" class="img-light">
                                                        <img src="img/customer-4.png" alt="customer-4.png">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="box-img">
                                                    <a href="img/customer-5.png" class="img-light">
                                                        <img src="img/customer-5.png" alt="customer-5.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing sec-slide-noibat bg-gray" id="document">
                    <div class="container">
                        <div class="wrapper-container">
                            <h3 class="txt-title tt-24 t-uppercase wow animate__bounceIn">
                                tải tài liệu
                            </h3>
                            <div class="slide-3" id="slide-tailieu" data-aos="fade-up" data-aos-offset="-500">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#" download>
                                                            <img src="img/tailieu-1.png" alt="tailieu-1.png">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="box-content center">
                                                    <a href="#" class="f-bold tt-24 tt-doc">Brochure</a>
                                                    <a href="#" class="link-w-100" download>Tải về</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#" download>
                                                            <img src="img/tailieu-2.png" alt="tailieu-2.png">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="box-content center">
                                                    <a href="#" class="f-bold tt-24 tt-doc">Mẫu đăng ký đầu tư</a>
                                                    <a href="#" class="link-w-100" download>Tải về</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="sec-tuvan sec-90 over-hidden">
                    <div class="container">
                        <div class="wrapper-container">
                            <div class="box-flex flex-lienhe">
                                <div class="col-7">
                                    <form>
                                        <div class="form-tuvan">
                                            <h3 class="title-form tt-24 mb-20 t-uppercase">Liên hệ ngay để được tư vấn
                                            </h3>
                                            <div class="f-group">
                                                <select class="f-select f-control">
                                                    <option value="1">
                                                        Chủ đề*
                                                    </option>
                                                    <option value="2">
                                                        Quan hệ đầu tư 2
                                                    </option>
                                                    <option value="2">
                                                        Quan hệ đầu tư 3
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Chủ đề*">
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Điện thoại*">
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Email*">
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Công ty">
                                            </div>
                                            <div class="f-group">
                                                <textarea class="f-control f-textarea" cols="30" rows="10"
                                                    placeholder="Tôi muốn tìm hiểu về"></textarea>
                                            </div>
                                            <div class="f-submit">
                                                <input type="submit" value="Gửi đi"
                                                    class="btn btn-main btn-link tt-18 t-uppercase">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-5">
                                    <div class="box-flex">
                                        <div class="wrapper-img" data-aos="fade-up" data-aos-offset="-1200">
                                            <img src="img/dichvu-phaply-2.png" alt="dichvu-phaply-2.png">
                                        </div>
                                        <div class="info-lienhe" data-aos="fade-left" data-aos-delay="200"
                                            data-aos-offset="-1200">
                                            <p class="f-bold txt-name">Ms Vân Anh</p>
                                            <span class="meta-name">GĐ dịch vụ khách hàng</span>
                                            <div class="box-info">
                                                <img src="img/icon-email-blue.png" alt="icon-email-blue.png">
                                                <span>Email: <a href="mailto:info@gmail.com" class="f-bold main-cl">
                                                        info@gmail.com</a></span>
                                            </div>
                                            <div class="box-info">
                                                <img src="img/icon-phone-blue.png" alt="icon-phone-blue.png">
                                                <span>Hotline: <a href="tel:+842871029000" class="f-bold main-cl">(+84)
                                                        28 710 29 000</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-top sec-50">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column ft-txt">
                                <div class="ft-inner">
                                    <div class="ft-text">
                                        <h3 class="ft-title tt-24 t-uppercase">
                                            ĐĂNG KÝ NHẬN TIN
                                        </h3>
                                        <p class="ft-p tt-16">
                                            Vui lòng nhập email để nhận được tin tức từ IPICO
                                        </p>
                                    </div>
                                    <form action="#" class="ft-input">
                                        <input type="text" class="f-control" placeholder="Nhập email của bạn">
                                        <button class="f-submit">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>

                                    </form>
                                </div>
                            </div>
                            <div class="column ft-share">
                                <div class="ft-inner">
                                    <p class="ft-p-socail tt-16">
                                        Chia sẻ ngay:
                                    </p>
                                    <div class="box-share">
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mid">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Công ty TNHH Đầu tư Xây dựng và Kinh doanh Kết Cấu Hạ Tầng Khu Công Nghiệp Sơn
                                        Mỹ (Tên viết tắt: IPICO) là doanh nghiệp có hoạt động cốt lõi trong lĩnh vực
                                        phát triển hạ tầng khu công nghiệp và phát triển các dự án bất động sản khác.
                                    </p>
                                </div>
                            </div>
                            <div class="column ft-menu">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        THÔNG TIN
                                    </p>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#">Trang chủ</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Giới thiệu</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Điều khoản sử dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        văn phòng TP.hcm
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            117 Pasteur, P.6, Q.3
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        Văn phòng Bình thuận
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            Số 1 Đường 1, KCN Biên Hòa 1, P. An Bình, TP. Biên Hòa, Tỉnh Đồng Nai, Việt
                                            Nam.
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <p class="copyright">
                                    Copyright © 2021 <span>IPICO</span>. All rights . Designed by <span>Mona
                                        Media</span>
                                </p>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-bct">
                                        <img src="./img/img-bct.png" alt="img-bct.png">
                                    </div>
                                    <div class="ft-policy">
                                        <a href="#" class="ft-item">
                                            Chính Sách & Quy Định
                                        </a>
                                        <a href="#" class="ft-item">
                                            CBảo Mật Thông Tin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- fluidplayer -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
    <!-- wow -->
    <script src="./js/libs/wow/wow.min.js"></script>
    <!-- Style -->
    <script src="./js/style.js" type="module" defer></script>
</body>

</html>