<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="#">tin tức</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">TÀI LIệU</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>

                                </ul>
                                <div class="header-lang-mobi">
                                </div>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-right">
                            <div class="header-lang-desktop">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/VN.png">
                                        </option>
                                        <option value="EN" data-thumbnail="img/EN.png">
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="header-subjects">
                                <div class="subject-title">
                                    <img src="./img/icon-grid.png" alt="icon-grid.png">
                                </div>

                                <div class="subject-content">
                                    <ul class="subject-list">
                                        <li class="subject-item">
                                            <a href="#">giới thiệu</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Dự án</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Thương mại - dịch vụ</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Hỗ trợ đầu tư</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">TIN TỨC</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Tuyển dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banner banner-page" style="background-image: url('./img/banner-lienhe.png');">
                <div class="container-full">
                    <div class="banner-wrapper" id="banner-slide">
                        <h3 class="banner-title tt-50 t-uppercase f-bold">
                            KHU CÔNG NGHIỆP sơn mỹ I
                        </h3>
                    </div>
                </div>
            </div>

            <div class="breadcrumb mt-30">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list current">
                            <a href="news.html"> Dự án</a>
                        </li>
                        <li class="breadcrumb-list current">
                            <a href="news.html"> KHU CÔNG NGHIỆP sơn mỹ I</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-content-landing">
                <div class="box-fx box-fx-intro">
                    <div class="box-inner">
                        <div class="box-fx-title">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>
                        </div>
                        <ul class="box-list">
                            <li class="box-item">
                                <a href="#summary" class="active">
                                    Giới thiệu chung
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#video">
                                    Video giới thiệu
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#product">
                                    Sản phẩm
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#infrastruc">
                                    Hạ tầng & tiện ích
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#tax">
                                    Ưu đãi đầu tư
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#work">
                                    Tiến độ
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#document">
                                    Tải tài liệu
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="landing summary over-hidden" id="summary">
                    <div class="container">
                        <div class="summary-wrapper">
                            <h3 class="summary-title tt-24 f-bold t-uppercase main-cl">
                                Thông tin TÓM lược
                            </h3>
                            <div class="columns">
                                <div class="column summary-ig">
                                    <div class="summary-inner">
                                        <div class="summary-img">
                                            <img src="./img/img-sum.png" alt="img-sum.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="column summary-txt">
                                    <div class="summary-inner">
                                        <div class="summary-list">
                                            <div class="summary-item" data-aos="fade-left">
                                                <div class="summary-p sum-address">
                                                    <p> <span>Vị trí: </span> Huyện Hàm Tân, Tỉnh Bình Thuận</p>
                                                </div>
                                            </div>
                                            <div class="summary-item" data-aos="fade-left" data-aos-delay="200">
                                                <div class="summary-p sum-area">
                                                    <p> <span>Diện tích: </span> 43,7 ha</p>
                                                </div>
                                            </div>
                                            <div class="summary-item" data-aos="fade-left" data-aos-delay="400">
                                                <div class="summary-p sum-job">
                                                    <p><span>Ngành nghề thu hút đầu tư: </span> Đa ngành</p>
                                                </div>
                                            </div>
                                            <div class="summary-item" data-aos="fade-left" data-aos-delay="600">
                                                <div class="summary-p sum-pro">
                                                    <span>Sản phẩm chính: </span>
                                                    <div class="sum-text">
                                                        <p class="text">
                                                            Đất có cơ sở hạ tầng cho thuê
                                                        </p>
                                                        <p class="text">
                                                            Đất cảng biển, logistic cho thuê
                                                        </p>
                                                        <p class="text">
                                                            Nhà xưởng xây sẵn cho thuê
                                                        </p>
                                                        <p class="text">
                                                            Kho vận hậu cần cho thuê
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary-item" data-aos="fade-left" data-aos-delay="800">
                                                <div class="summary-p sum-total-area">
                                                    <p><span>Tổng diện tích: </span> 1.070 ha</p>

                                                    <div class="sum-text">
                                                        <p>Trong đó</p>
                                                        <p class="text">
                                                            Đất khu công nghiệp: 982 ha
                                                        </p>
                                                        <p class="text">
                                                            Đất dịch vụ nghỉ dưỡng: 88 ha
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="summary-item" data-aos="fade-left" data-aos-delay="1000">
                                                <div class="summary-p sum-calendar">
                                                    <p> <span>xây dựng: </span> Quý IV/2021 – Quý I/2025</p>
                                                </div>
                                            </div>
                                            <div class="summary-item" data-aos="fade-left" data-aos-delay="1200">
                                                <div class="summary-p sum-clock">
                                                    <p> <span>Thời hạn sử dụng đất: </span> 2075 năm</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="list-job over-hidden" >
                    <div class="container">
                        <div class="job-wrapper" id="slide-list-job" data-aos="fade-up">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="job-inner">
                                            <h4 class="job-title tt-18 f-bold t-uppercase main-cl">
                                                CHỦ ĐẦU TƯ
                                            </h4>
                                            <img src="./img/ljob-1.png" alt="ljob-1.png" class="job-img jb-img">

                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="job-inner">
                                            <h4 class="job-title tt-18 f-bold t-uppercase main-cl">
                                                Tổng thầu
                                            </h4>
                                            <img src="./img/ljob-2.png" alt="ljob-2.png" class="job-img">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="job-inner">
                                            <h4 class="job-title tt-18 f-bold t-uppercase main-cl">
                                                quản lý vận hành
                                            </h4>
                                            <img src="./img/ljob-3.png" alt="ljob-3.png">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="job-inner">
                                            <h4 class="job-title tt-18 f-bold t-uppercase main-cl">
                                                đơn vị thiết kế
                                            </h4>
                                            <img src="./img/ljob-4.png" alt="ljob-4.png">
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div> -->
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing video-intro video-two over-hidden" id="video">
                    <div class="container">
                        <div class="video-wrapper">
                            <h3 class="video-title tt-33 t-uppercase f-bold main-cl wow animate__bounceIn">
                                VIDEO GIỚI THIỆU
                            </h3>
                            <div class="video-box" data-aos="fade-up">
                                <video id="my-video">
                                    <source src="./img/video.mp4" type="video/mp4" />
                                </video>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="landing tax over-hidden" id="tax">
                    <div class="container">
                        <div class="tax-wrapper">
                            <div class="columns">
                                <div class="column tax-txt">
                                    <div class="tax-inner">
                                        <h3 class="tax-title tt-24 f-bold main-cl t-uppercase wow animate__bounceIn">
                                            ƯU ĐÃI THUẾ
                                        </h3>
                                        <div class="taxt-content tt-16">
                                            <p>Thuế suất thông thường = 20% (áp dụng cho những ngành công nghiệp thông
                                                thường)</p>
                                            <p>Thuế suất ưu đãi = 10% <br>
                                                (áp dụng trong 15 năm đầu tiên)*
                                            </p>
                                            <a href="#" class="btn w-160 btn-main tt-16">Xem chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column tax-ig" data-aos="fade-left">
                                    <div class="tax-inner">
                                        <div class="tax-img">
                                            <img src="./img/img-tax.png" alt="img-tax.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing product-newss over-hidden" id="product">
                    <div class="container">
                        <div class="product-wrapper">
                            <h3 class="product-title tt-24 main-cl t-uppercase f-bold wow animate__bounceIn">
                                Sản phẩm Nổi bật
                            </h3>
                            <div class="columns">
                                <div class="column" data-aos="fade-up">
                                    <div class="box-content-v">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-pro-newss-1.png" alt="img-pro-newss-1.png">
                                            </a>
                                        </div>
                                        <div class="box-title">
                                            <a href="#">NHÀ XƯỞNG XÂY SẴN CHO THUÊ</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="fade-up" data-aos-delay="200">
                                    <div class="box-content-v">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-pro-newss-2.png" alt="img-pro-newss-2.png">
                                            </a>
                                        </div>
                                        <div class="box-title">
                                            <a href="#">kho vận hậu cần cho thuê</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="fade-up" data-aos-delay="400">
                                    <div class="box-content-v">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-pro-newss-3.png" alt="img-pro-newss-3.png">
                                            </a>
                                        </div>
                                        <div class="box-title">
                                            <a href="#">Đất cảng biển cho thuê</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="column" data-aos="fade-up" data-aos-delay="600">
                                    <div class="box-content-v">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-pro-newss-4.png" alt="img-pro-newss-4.png">
                                            </a>
                                        </div>
                                        <div class="box-title">
                                            <a href="#">Đất có sẵn hạ tầng cho thuê</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing infrastruc over-hidden" id="infrastruc">
                    <div class="container">
                        <div class="infrastru-wrapper">
                            <div class="columns">
                                <div class="column infrastruc-txt">
                                    <div class="infrastruc-inner">
                                        <h3 class="infrastruc-title tt-24 f-bold t-uppercase main-cl wow animate__bounceIn">
                                            HẠ TẦNG & TIỆN ÍCH
                                        </h3>
                                        <p class="infrastruc-desc tt-16">
                                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                                            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                                            voluptua. At vero eos et accusam
                                        </p>
                                        <div class="infrastruc-content">
                                            <div class="infrastruc-item"  data-aos="fade-up" data-aos-delay="200">
                                                <p class="text infras-came">Hệ thống camera giám sát 24/7</p>
                                            </div>
                                            <div class="infrastruc-item"  data-aos="fade-up" data-aos-delay="400">
                                                <p class="text infras-elec">TRẠM ĐIỆN</p>
                                            </div>
                                            <div class="infrastruc-item"  data-aos="fade-up" data-aos-delay="600">
                                                <p class="text infras-water">NHÀ MÁY NƯỚC</p>
                                            </div>
                                            <div class="infrastruc-item"  data-aos="fade-up" data-aos-delay="800">
                                                <p class="text infras-ex-water">Hệ thống thoát nước</p>
                                            </div>
                                            <div class="infrastruc-item"  data-aos="fade-up" data-aos-delay="1000">
                                                <p class="text infras-inter">hệ thống viễn thông</p>
                                            </div>
                                            <div class="infrastruc-item"  data-aos="fade-up" data-aos-delay="1200">
                                                <p class="text infras-treatment">NHÀ MÁY xử lý NƯỚC</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="column infrastruc-ig" data-aos="fade-left">
                                    <div class="infrastruc-inner">
                                        <div class="infrastruc-img">
                                            <img src="./img/img-infrastruc-1.png" alt="img-infrastruc-1.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing work over-hidden" id="work">
                    <div class="container">
                        <div class="work-warpper">
                            <h3 class="work-title tt-24 f-bold t-uppercase main-cl wow animate__bounceIn">
                                tiến độ công việc
                            </h3>
                            <div class="work-slide" id="slide-work" data-aos="fade-up">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="work-inner">
                                                <img src="./img/img-work-1.png" alt="" class="work-img">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="work-inner">
                                                <img src="./img/img-work-1.png" alt="" class="work-img">
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="work-inner">
                                                <img src="./img/img-work-1.png" alt="" class="work-img">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="sec-tuvan sec-90 over-hidden">
                    <div class="container">
                        <div class="wrapper-container">
                            <div class="box-flex flex-lienhe">
                                <div class="col-7">
                                    <form>
                                        <div class="form-tuvan">
                                            <h3 class="title-form tt-24 mb-20 t-uppercase">Liên hệ ngay để được tư vấn
                                            </h3>
                                            <div class="f-group">
                                                <select class="f-select f-control">
                                                    <option value="1">
                                                        Chủ đề*
                                                    </option>
                                                    <option value="2">
                                                        Quan hệ đầu tư 2
                                                    </option>
                                                    <option value="2">
                                                        Quan hệ đầu tư 3
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Chủ đề*">
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Điện thoại*">
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Email*">
                                            </div>
                                            <div class="f-group w-50">
                                                <input type="text" class="f-control" placeholder="Công ty">
                                            </div>
                                            <div class="f-group">
                                                <textarea class="f-control f-textarea" cols="30" rows="10"
                                                    placeholder="Tôi muốn tìm hiểu về"></textarea>
                                            </div>
                                            <div class="f-submit">
                                                <input type="submit" value="Gửi đi"
                                                    class="btn btn-main btn-link tt-18 t-uppercase">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-5">
                                    <div class="box-flex">
                                        <div class="wrapper-img" data-aos="fade-up">
                                            <img src="img/dichvu-phaply-2.png" alt="dichvu-phaply-2.png">
                                        </div>
                                        <div class="info-lienhe" data-aos="fade-left" data-aos-delay="200">
                                            <p class="f-bold txt-name">Ms Vân Anh</p>
                                            <span class="meta-name">GĐ dịch vụ khách hàng</span>
                                            <div class="box-info">
                                                <img src="img/icon-email-blue.png" alt="icon-email-blue.png">
                                                <span>Email: <a href="mailto:info@gmail.com" class="f-bold main-cl">
                                                        info@gmail.com</a></span>
                                            </div>
                                            <div class="box-info">
                                                <img src="img/icon-phone-blue.png" alt="icon-phone-blue.png">
                                                <span>Hotline: <a href="tel:+842871029000" class="f-bold main-cl">(+84)
                                                        28 710 29 000</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing sec-slide-noibat bg-gray over-hidden" id="document">
                    <div class="container">
                        <div class="wrapper-container">
                            <h3 class="txt-title tt-24 t-uppercase wow animate__bounceIn">
                                tải tài liệu
                            </h3>
                            <div class="slide-3" id="slide-tailieu" data-aos="fade-up">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#" download>
                                                            <img src="img/tailieu-1.png" alt="tailieu-1.png">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="box-content center">
                                                    <a href="#" class="f-bold tt-24 tt-doc">Brochure</a>
                                                    <a href="#" class="link-w-100" download>Tải về</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="box-product-v">
                                                <div class="wrapper-img">
                                                    <div class="box-img">
                                                        <a href="#" download>
                                                            <img src="img/tailieu-2.png" alt="tailieu-2.png">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="box-content center">
                                                    <a href="#" class="f-bold tt-24 tt-doc">Mẫu đăng ký đầu tư</a>
                                                    <a href="#" class="link-w-100" download>Tải về</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </section>

                
            </div>
            <section class="location">
                <div class="container">
                    <h3 class="location-title f-bold tt-24 t-uppercase main-cl wow animate__bounceIn">
                        VỊ TRÍ CHIẾN LƯỢC
                    </h3>
                </div>
                <div class="gg-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4238665867506!2d106.65298321526029!3d10.778812262096048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ec7b1bb8467%3A0x22698138bf1fdcec!2zMzczLCAyMjYgTMO9IFRoxrDhu51uZyBLaeG7h3QsIHBoxrDhu51uZyA5LCBUw6JuIELDrG5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1623924403500!5m2!1svi!2s"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="container-full">
                    <div class="location-wrapper">
                        <div class="location-item bg-one" data-aos="fade-up">
                            <div class="location-inner">
                                <div class="location-number">
                                    <p class="number">01</p>
                                    <img src="./img/icon-run.svg" alt="icon-run.svg" class="img-icon">
                                </div>
                                <div class="location-content">
                                    <h4 class="location-tt  t-uppercase f-bold">
                                        KHOẢNG CÁCH ĐƯỜNG BỘ
                                    </h4>
                                    <div class="location-list">
                                        <p class="location-text">
                                            Quốc Lộ 56: <span >6</span>km
                                        </p>
                                        <p class="location-text">
                                            Quốc Lộ 51: <span class="tt-30 f-bold">13</span>km
                                        </p>
                                        <p class="location-text">
                                            TP Vũng Tàu:   <span>44</span>km
                                        </p>
                                        <p class="location-text">
                                            TP HCM: <span  class="tt-30 f-bold" >75</span>km
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="location-item bg-two" data-aos="fade-up" data-aos-delay="200">
                            <div class="location-inner">
                                <div class="location-number">
                                    <p class="number">02</p>
                                    <img src="./img/icon-boat.svg" alt="icon-boat.svg" class="img-icon">
                                </div>
                                <div class="location-content">
                                    <h4 class="location-tt  t-uppercase f-bold">
                                        KHOẢNG CÁCH ĐẾN BẾN CẢNG
                                    </h4>
                                    <div class="location-list">
                                        <p class="location-text">
                                            Cảng Thị Vài: <span >16</span>km
                                        </p>
                                        <p class="location-text">
                                            Cảng Cái Mép: <span class="tt-30 f-bold">19</span>km
                                        </p>
                                        <p class="location-text">
                                            Cảng Gò Dầu:  <span>21</span>km
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="location-item bg-three" data-aos="fade-up" data-aos-delay="400">
                            <div class="location-inner">
                                <div class="location-number">
                                    <p class="number">03</p>
                                    <img src="./img/icon-planes.svg" alt="icon-planes.svg" class="img-icon">
                                </div>
                                <div class="location-content">
                                    <h4 class="location-tt  t-uppercase f-bold">
                                        KHOẢNG CÁCH ĐẾN SÂN BAY
                                    </h4>
                                    <div class="location-list">
                                        <p class="location-text">
                                            Sân bay quốc tế Long Thành: <span  class="tt-30 f-bold" >54</span>km
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="footer">
            <div class="footer-top sec-50">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column ft-txt">
                                <div class="ft-inner">
                                    <div class="ft-text">
                                        <h3 class="ft-title tt-24 t-uppercase">
                                            ĐĂNG KÝ NHẬN TIN
                                        </h3>
                                        <p class="ft-p tt-16">
                                            Vui lòng nhập email để nhận được tin tức từ IPICO
                                        </p>
                                    </div>
                                    <form action="#" class="ft-input">
                                        <input type="text" class="f-control" placeholder="Nhập email của bạn">
                                        <button class="f-submit">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>

                                    </form>
                                </div>
                            </div>
                            <div class="column ft-share">
                                <div class="ft-inner">
                                    <p class="ft-p-socail tt-16">
                                        Chia sẻ ngay:
                                    </p>
                                    <div class="box-share">
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mid">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Công ty TNHH Đầu tư Xây dựng và Kinh doanh Kết Cấu Hạ Tầng Khu Công Nghiệp Sơn
                                        Mỹ (Tên viết tắt: IPICO) là doanh nghiệp có hoạt động cốt lõi trong lĩnh vực
                                        phát triển hạ tầng khu công nghiệp và phát triển các dự án bất động sản khác.
                                    </p>
                                </div>
                            </div>
                            <div class="column ft-menu">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        THÔNG TIN
                                    </p>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#">Trang chủ</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Giới thiệu</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Điều khoản sử dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        văn phòng TP.hcm
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            117 Pasteur, P.6, Q.3
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        Văn phòng Bình thuận
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            Số 1 Đường 1, KCN Biên Hòa 1, P. An Bình, TP. Biên Hòa, Tỉnh Đồng Nai, Việt
                                            Nam.
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <p class="copyright">
                                    Copyright © 2021 <span>IPICO</span>. All rights . Designed by <span>Mona
                                        Media</span>
                                </p>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-bct">
                                        <img src="./img/img-bct.png" alt="img-bct.png">
                                    </div>
                                    <div class="ft-policy">
                                        <a href="#" class="ft-item">
                                            Chính Sách & Quy Định
                                        </a>
                                        <a href="#" class="ft-item">
                                            Bảo Mật Thông Tin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- fluidplayer -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
     <!-- wow -->
   <script src="./js/libs/wow/wow.min.js"></script>
   <!-- Style -->
   <script src="./js/style.js" type="module" defer></script>
</body>

</html>