<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="#">tin tức</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">TÀI LIệU</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>

                                </ul>
                                <div class="header-lang-mobi">
                                </div>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-right">
                            <div class="header-lang-desktop">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/VN.png">
                                        </option>
                                        <option value="EN" data-thumbnail="img/EN.png">
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="header-subjects">
                                <div class="subject-title">
                                    <img src="./img/icon-grid.png" alt="icon-grid.png">
                                </div>

                                <div class="subject-content">
                                    <ul class="subject-list">
                                        <li class="subject-item">
                                            <a href="#">giới thiệu</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Dự án</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Thương mại - dịch vụ</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Hỗ trợ đầu tư</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">TIN TỨC</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Tuyển dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banner banner-page" style="background-image: url('./img/banner-lienhe.png');">
                <div class="container-full">
                    <div class="banner-wrapper" id="banner-slide">
                        <h3 class="banner-title tt-50 t-uppercase f-bold">
                            tin tức
                        </h3>
                    </div>
                </div>
            </div>

            <div class="breadcrumb mt-30">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list">
                            <a href="news.html">Tin tức</a>
                        </li>
                        <li class="breadcrumb-list current">
                            <a href="news.html">chi tiết Tin tức</a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="sec-update-new sec-detail-new over-hidden">
                <div class="container">
                    <div class="wrapper-container">
                        <div class="box-flex">
                            <div class="col-7">
                                <h3 class="txt-new-title tt-24">
                                    IPICO tiếp tục ủng hộ thiết bị y tế hỗ trợ phòng, chống dịch Covid – 19
                                </h3>
                                <span class="meta-title">
                                    <img src="img/icon-oclock.svg" alt="icon-oclock.svg">Ngày đăng 17-05-2021
                                </span>
                                <div class="wrapper-content mona-content tt-16">
                                    <p>Ngày 17/5, Tổng công ty CP Phát triển Khu công nghiệp (Sonadezi) đã trao tặng
                                        Bệnh viện Đa khoa Đồng Nai 02 máy thở cao cấp với tổng trị giá 1,5 tỷ đồng nhằm
                                        hỗ trợ công tác phòng, chống dịch Covid-19.</p>
                                    <p>
                                        02 máy thở Sonadezi trao tặng có nhãn hiệu Puritan Bennett 840, là sản phẩm của
                                        hãng sản xuất Covidien (thuộc tập đoàn Medtronic của Mỹ, nhà sản xuất thiết bị y
                                        tế lớn nhất thế giới hiện nay). Đây là dòng máy thở cao cấp, chuyên dụng trong
                                        hồi sức cấp cứu cho mọi đối tượng bệnh nhân, được sử dụng rộng rãi trong gần như
                                        tất cả các Bệnh viện tuyến Trung ương và tuyến tỉnh. Đặc biệt, máy thở Puritan
                                        Bennett 840 đã chứng minh được hiệu quả rất cao trong công tác điều trị bệnh
                                        nhân H5N1, H1N1, Sars, Covid-19.
                                    </p>
                                    <div class="box-img">
                                        <img src="img/new-detail.png" alt="new-detail.png">
                                        <span class="meta-img">
                                            Lãnh đạo Tổng công ty CP Phát triển Khu công nghiệp trao bảng tượng trưng
                                            tặng 02 máy thở cho Bệnh viện Đa khoa Đồng Nai
                                        </span>
                                    </div>
                                    <p>
                                        Theo Bệnh viện Đa khoa Đồng Nai, máy thở Puritan Bennett 840 có nhiều ưu điểm
                                        hơn các dòng máy thở khác trong việc điều trị Covid-19. Cụ thể, máy thở Puritan
                                        Bennett 840 có bộ phận nung nóng filter đường thở lên đến 60 – 90 độ, có khả
                                        năng diệt được virus, tránh lây lan virus ra ngoài môi trường; bộ lọc thở ra
                                        chính hãng có thể lọc đến 99,97% các loại vi khuẩn, virus, tránh lây nhiễm chéo
                                        cho các bệnh nhân khác và nhân viên y tế…
                                    </p>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="wrapper-col">
                                    <div class="box-new-h" data-aos="fade-left"  data-aos-delay="200">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-new-2.png" alt="img-new-2.png">
                                            </a>
                                        </div>
                                        <div class="box-content">
                                            <a href="#" class="content-title tt-20"
                                                title="IPICO tiếp tục ủng hộ thiết bị y tế hỗ trợ phòng, chống dịch Covid – 19">IPICO
                                                tiếp tục ủng hộ thiết bị...</a>
                                            <span class="meta-title"><img src="img/icon-oclock.svg"
                                                    alt="icon-oclock.svg"> Ngày đăng 17-05-2021</span>
                                            <p class="txt-desc tt-16">Ngày 17/5, Tổng công ty CP Phát triển...</p>
                                        </div>
                                    </div>
                                    <div class="box-new-h" data-aos="fade-left"  data-aos-delay="400">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-new-3.png" alt="img-new-3.png">
                                            </a>
                                        </div>
                                        <div class="box-content">
                                            <a href="#" class="content-title tt-20"
                                                title="IPICO tiếp tục ủng hộ thiết bị y tế hỗ trợ phòng, chống dịch Covid – 19">CIPICO
                                                tiếp tục ủng hộ thiết bị...</a>
                                            <span class="meta-title"><img src="img/icon-oclock.svg"
                                                    alt="icon-oclock.svg">Ngày đăng 17-05-2021</span>
                                            <p class="txt-desc tt-16">Ngày 17/5, Tổng công ty CP Phát triển...</p>
                                        </div>
                                    </div>
                                    <div class="box-new-h" data-aos="fade-left"  data-aos-delay="600">
                                        <div class="box-img">
                                            <a href="#">
                                                <img src="img/img-new-4.png" alt="img-new-4.png">
                                            </a>
                                        </div>
                                        <div class="box-content">
                                            <a href="#" class="content-title tt-20"
                                                title="IPICO tiếp tục ủng hộ thiết bị y tế hỗ trợ phòng, chống dịch Covid – 19">CIPICO
                                                tiếp tục ủng hộ thiết bị...</a>
                                            <span class="meta-title"><img src="img/icon-oclock.svg"
                                                    alt="icon-oclock.svg">Ngày đăng 17-05-2021</span>
                                            <p class="txt-desc tt-16">Ngày 17/5, Tổng công ty CP Phát triển...</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <footer class="footer">
            <div class="footer-top sec-50">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column ft-txt">
                                <div class="ft-inner">
                                    <div class="ft-text">
                                        <h3 class="ft-title tt-24 t-uppercase">
                                            ĐĂNG KÝ NHẬN TIN
                                        </h3>
                                        <p class="ft-p tt-16">
                                            Vui lòng nhập email để nhận được tin tức từ IPICO
                                        </p>
                                    </div>
                                    <form action="#" class="ft-input">
                                        <input type="text" class="f-control" placeholder="Nhập email của bạn">
                                        <button class="f-submit">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>

                                    </form>
                                </div>
                            </div>
                            <div class="column ft-share">
                                <div class="ft-inner">
                                    <p class="ft-p-socail tt-16">
                                        Chia sẻ ngay:
                                    </p>
                                    <div class="box-share">
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mid">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Công ty TNHH Đầu tư Xây dựng và Kinh doanh Kết Cấu Hạ Tầng Khu Công Nghiệp Sơn
                                        Mỹ (Tên viết tắt: IPICO) là doanh nghiệp có hoạt động cốt lõi trong lĩnh vực
                                        phát triển hạ tầng khu công nghiệp và phát triển các dự án bất động sản khác.
                                    </p>
                                </div>
                            </div>
                            <div class="column ft-menu">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        THÔNG TIN
                                    </p>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#">Trang chủ</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Giới thiệu</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Điều khoản sử dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        văn phòng TP.hcm
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            117 Pasteur, P.6, Q.3
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        Văn phòng Bình thuận
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            Số 1 Đường 1, KCN Biên Hòa 1, P. An Bình, TP. Biên Hòa, Tỉnh Đồng Nai, Việt
                                            Nam.
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <p class="copyright">
                                    Copyright © 2021 <span>IPICO</span>. All rights . Designed by <span>Mona
                                        Media</span>
                                </p>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-bct">
                                        <img src="./img/img-bct.png" alt="img-bct.png">
                                    </div>
                                    <div class="ft-policy">
                                        <a href="#" class="ft-item">
                                            Chính Sách & Quy Định
                                        </a>
                                        <a href="#" class="ft-item">
                                            CBảo Mật Thông Tin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- fluidplayer -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
     <!-- wow -->
   <script src="./js/libs/wow/wow.min.js"></script>
   <!-- Style -->
   <script src="./js/style.js" type="module" defer></script>
</body>

</html>