<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="./img/favicon/fav.png" />
    <!-- css -->
    <link rel="stylesheet" href="./css/style.css">



</head>

<body>
    <div class="wrapper" style="height: 100%;">
        <div id="page-loading">
            <img src="img/logo-header.png" alt="logo-header.png" />
        </div>
        <header class="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="header-bottom-inner">
                        <div class="header-logo">
                            <a href="home.html">
                                <img src="./img/logo-header.png" alt="">
                            </a>
                        </div>
                        <div class="header-menu">
                            <div class="header-menu-inner">
                                <div class="header-menu-logo">
                                    <a href="home.html">
                                        <img src="./img/logo-header.png" alt="logo-header.png">
                                    </a>
                                </div>
                                <ul class="header-menu-nav">
                                    <li class="current-menu">
                                        <a href="#">Trang chủ</a>
                                    </li>
                                    <li>
                                        <a href="#">tin tức</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#">TÀI LIệU</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#">test sub menu 1</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="#">test sub menu2 </a>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">test sub menu 3</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">test sub menu 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                            <li>
                                                <a href="#">test sub menu 1</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>

                                </ul>
                                <div class="header-lang-mobi">
                                </div>
                                <div class="header-menu-socail">
                                    <a href="#" class="menu-socail socail-face">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-youtube">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="menu-socail socail-twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="overplay"></div>
                        </div>
                        <div class="header-right">
                            <div class="header-lang-desktop">
                                <div class="box-lang item-menu ">
                                    <select class="vodiapicker">
                                        <option value="VN" class="test" data-thumbnail="img/VN.png">
                                        </option>
                                        <option value="EN" data-thumbnail="img/EN.png">
                                        </option>
                                    </select>

                                    <div class="lang-select">
                                        <button class="btn-select" value=""></button>
                                        <div class="lang-content">
                                            <ul id="a"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-search">
                                <div class="search-desktop">
                                    <div class="search-title">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    <form action="#" class="search-form">
                                        <input type="text" class="f-control" placeholder="Tìm kiếm sản phẩm">
                                        <button class="f-submit" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="header-search-icon">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="header-subjects">
                                <div class="subject-title">
                                    <img src="./img/icon-grid.png" alt="icon-grid.png">
                                </div>

                                <div class="subject-content">
                                    <ul class="subject-list">
                                        <li class="subject-item">
                                            <a href="#">giới thiệu</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Dự án</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Thương mại - dịch vụ</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Hỗ trợ đầu tư</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">TIN TỨC</a>
                                        </li>
                                        <li class="subject-item">
                                            <a href="#">Tuyển dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hamburger-btn">
                                <div class="bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="banner banner-page" style="background-image: url('./img/banner-intro.png');">
                <div class="container-full">
                    <div class="banner-wrapper" id="banner-slide">
                        <h3 class="banner-title tt-50 t-uppercase f-bold">
                            Giới thiệu
                        </h3>
                    </div>
                </div>
            </div>

            <div class="breadcrumb mt-30">
                <div class="container">
                    <ul class="breadcrumb-menu">
                        <li class="breadcrumb-list">
                            <a href="home.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-list current">
                            <a href="news.html"> GIỚI THIỆU</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-content-landing">
                <div class="box-fx box-fx-intro">
                    <div class="box-inner">
                        <div class="box-fx-title">
                            <i class="fa fa-list-ul" aria-hidden="true"></i>
                        </div>
                        <ul class="box-list">
                            <li class="box-item">
                                <a href="#overview" class="active">
                                    Tổng quan về IPICO
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#eye">
                                    Tầm nhìn
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#philosophy">
                                    Triết lý hoạt động
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#business">
                                    Lĩnh vực kinh doanh
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#chart">
                                    Sơ đồ tổ chức
                                </a>
                            </li>
                            <li class="box-item">
                                <a href="#partner">
                                    Đối tác của IPICO
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="landing overview over-hidden" id="overview">
                    <div class="container">
                        <h3 class="overview-title tt-33 t-uppercase f-bold main-cl wow animate__bounceIn">
                            Tổng quan về IPICO
                        </h3>
                        <div class="columns">
                            <div class="column overview-txt">
                                <div class="overview-inner">
                                    <div class="overview-desc tt-16">
                                        <p>
                                            <span>IPICO</span> là doanh nghiệp có hoạt động cốt lõi trong lĩnh vực phát
                                            triển hạ
                                            tầng khu
                                            công nghiệp và bất động sản dân dụng với quỹ đất có vị trí kinh tế chiến
                                            lược
                                            lên
                                            đến <span> 10,7 triệu m2.</span>
                                        </p>

                                        <p> Hiện nay, <span>IPICO</span> với tiềm lực tài chính mạnh mẽ từ các cổ đông
                                            và
                                            các
                                            đối tác không
                                            ngừng mở rộng quy mô đầu tư với tốc độ thần tốc và chiến lược.</p>

                                        <p>
                                            <span>IPICO</span> hướng đến cung cấp các sản phẩm về cơ sở hạ tầng cùng với
                                            các
                                            dịch vụ hỗ trợ
                                            nhằm tạo ra một môi trường đầu tư lý tưởng và các giải pháp tối ưu chi các
                                            nhà
                                            đầu
                                            tư chiến lược tầm cỡ.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="column overview-ig" data-aos="fade-left">
                                <div class="overview-inner">
                                    <img src="./img/img-overview.png" alt="img-overview.png" class="overview-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing eye over-hidden" id="eye">
                    <div class="container">
                        <div class="eye-wrapper">
                            <div class="eye-txt t-center">
                                <h3 class="eye-title tt-33 f-bold t-uppercase main-cl bd-lr  wow animate__bounceIn">
                                    Tầm nhìn
                                </h3>
                                <p class="eye-p t-12">
                                    “Trở thành một thương hiệu hàng đầu về phát triển và kinh doanh hạ tầng khu công
                                    nghiệp
                                    với
                                    văn hóa lấy sự hiệu quả, ổn định, vững chắc và sự hài lòng của nhà đầu tư làm mục
                                    đích
                                    trọng
                                    tâm trong mọi hoạt động của công ty”
                                </p>
                            </div>

                            <div class="eye-content">
                                <img src="./img/line-top.png" alt="line-top.png" class="eye-img" data-aos="zoom-in" data-aos-delay="200">
                                <div class="columns">
                                    <div class="column" data-aos="fade-up" data-aos-delay="1000">
                                        <div class="eye-inner eye-one">
                                            <p class="eye-label tt-18 f-bold t-uppercase">
                                                Ngày 23 tháng 1
                                                năm 2018
                                            </p>
                                            <p class="eye-desc tt-16">
                                                Chính thức thành lập <span>IPICO</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column" data-aos="fade-up" data-aos-delay="800">
                                        <div class="eye-inner eye-two">
                                            <p class="eye-label tt-18 f-bold t-uppercase">
                                                Cuối năm 2018
                                            </p>
                                            <p class="eye-desc tt-16">
                                                <span>Mở rộng quỹ đất công nghiệp</span> tại các địa điểm chiến lược.
                                                Hoàn
                                                thành quy
                                                hoạch / thiết kế tổng thể và bắt đầu xây dựng tại 2 dự án (Mỹ Phước và
                                                Bầu
                                                Bàng)
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column" data-aos="fade-up" data-aos-delay="600">
                                        <div class="eye-inner eye-three">
                                            <p class="eye-label tt-18 f-bold t-uppercase">
                                                Kế hoạch 2019
                                            </p>
                                            <p class="eye-desc">
                                                Tiếp nối thành công tại các khu vực kinh tế phía Bắc và phía Nam,
                                                <span>IPICO</span> dự
                                                định tiếp tục mở rộng tại khu vực miền Trung của Việt Nam
                                            </p>
                                        </div>
                                    </div>
                                    <div class="column" data-aos="fade-up" data-aos-delay="400">
                                        <div class="eye-inner eye-four">
                                            <p class="eye-label tt-18 f-bold t-uppercase">
                                                Tầm nhìn 2020
                                            </p>
                                            <p class="eye-desc">
                                                Trở thành Nhà phát triển <span>Bất động sản hàng đầu Việt Nam</span> với
                                                sự
                                                mở rộng và
                                                hiện diện trên toàn quốc
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>

                <section class="landing philosophy over-hidden" id="philosophy">
                    <div class="container">
                        <div class="philosophy-wrapper">
                            <div class="philo-t t-center">
                                <h3 class="philo-title f-bold tt-33 t-uppercase main-cl bd-lr wow animate__bounceIn">
                                    triết lý hoạt động
                                </h3>
                            </div>
                            <div class="philo-desc">
                                <p> Chúng tôi nhận thức rõ rằng mọi kết quả hay thành tựu mà chúng tôi có được chỉ có
                                    thể
                                    đến từ
                                    mối liên hệ chiến lược, chặt chẽ thông qua việc cung cấp các giá trị cho khách hàng,
                                    nhà
                                    đầu
                                    tư và đối tác của chúng tôi.
                                </p>
                                <p> Chúng tôi tin rằng sự phát triển liên tục và vững bền của chúng tôi phải gắn với
                                    việc
                                    không
                                    ngừng nỗ lực nâng cao chất lượng sản phẩm và dịch vụ mà chúng tôi cung
                                    cấp, gắn với xây dựng các giá trị gìn giữ môi trường xanh và tạo dựng lợi ích cho
                                    cộng đồng.</p>
                                <p> Chúng tôi hiểu rằng chúng tôi có một sứ mệnh và nhiệm vụ to lớn trong việc thu hút,
                                    hỗ
                                    trợ
                                    và đồng hành cùng với các nhà đầu tư cho mục tiêu chung là phát triển kinh tế địa
                                    phương
                                    và
                                    kinh tế nước nhà.</p>
                                <p> Mọi hoạt động của chúng tôi đều được xây dựng dựa trên những giá trị cốt lõi và văn
                                    hóa
                                    của
                                    chúng tôi, đó là: Tính chính trực trong ứng xử và giao dịch; Sự công bằng và tôn
                                    trọng
                                    với
                                    nhân sự của công ty, với đối tác, khách hàng và các bên liên quan khác; Các chuẩn
                                    mực
                                    đạo
                                    đức; và tính Tuân thủ luật pháp cũng như các quy tắc ứng xử của công ty.</p>
                            </div>
                            <div class="philo-wrap" data-aos="fade-up" >
                                <div class="philo-box">
                                    <div class="box box-green">
                                        <div class="text">
                                            <p class="box-text tt-24 f-black">
                                                CHẤT LƯỢNG
                                            </p>
                                        </div>
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                                <div class="philo-box">
                                    <div class="box box-blue">
                                        <div class="text">
                                            <p class="box-text tt-24 f-black">
                                                UY TÍN
                                            </p>
                                        </div>
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                                <div class="philo-box">
                                    <div class="box box-pink ">
                                        <div class="text">
                                            <p class="box-text tt-24 f-black">
                                                chuyên nghiệp
                                            </p>
                                        </div>
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                                <div class="philo-box">
                                    <div class="box box-yellow">
                                        <div class="text">
                                            <p class="box-text tt-24 f-black">
                                                ĐỔI MỚI
                                            </p>
                                        </div>
                                        <div class="arrow"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing business over-hidden" id="business">
                    <div class="container">
                        <div class="business-wrapper">
                            <h3 class="business-title tt-33 f-bold t-uppercase main-cl bd-lr wow animate__bounceIn">
                                lĩnh vực kinh doanh
                            </h3>
                            <div class="business-wrap">
                                <div class="columns">
                                    <div class="column" data-aos="fade-right">
                                        <div class="box-content-v">
                                            <div class="box-img">
                                                <a href="#">
                                                    <img src="./img/b-1.png" alt="b-1.png">
                                                </a>
                                            </div>
                                            <div class="box-title">
                                                <a href="#">KHU CÔNG NGHIỆP</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column" data-aos="fade-left">
                                        <div class="box-content-v">
                                            <div class="box-img">
                                                <a href="#">
                                                    <img src="./img/b-2.png" alt="b-2.png">
                                                </a>
                                            </div>
                                            <div class="box-title">
                                                <a href="#">RESORT</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="landing chart over-hidden" id="chart">
                    <div class="container">
                        <div class="chart-wrapper">
                            <h3 class="chart-title tt-33 t-uppercase f-bold main-cl bd-lr  wow animate__bounceIn">
                                Sơ đồ tổ chức
                            </h3>
                            <div class="chart-content">
                                <ul class="chart-list chart-list-top">
                                    <li class="chart-item" data-aos="fade-left" data-aos-delay="200">
                                        <h4 class="chart-tt">
                                            KHỐI HÀNH CHÍNH <br> NHÂN SỰ - IT
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-left" data-aos-delay="400">
                                        <h4 class="chart-tt">
                                            KHỐI TÀI CHÍNH - KẾ TOÁN
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-left" data-aos-delay="600">
                                        <h4 class="chart-tt">
                                            KHỐI PHÁP CHẾ
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-left" data-aos-delay="800">
                                        <h4 class="chart-tt">
                                            KHỐI ĐẦU TƯ
                                        </h4>
                                    </li>
                                </ul>
                                <h3 class="chart-subname" data-aos="zoom-in">
                                    KHỐI HỖ TRỢ THUỘC TỔNG CÔNG TY
                                </h3>
                                <ul class="chart-list chart-list-bottom">
                                    <li class="chart-item" data-aos="fade-right" data-aos-delay="200">
                                        <h4 class="chart-tt">
                                            HỘI ĐỒNG <br> HĐTV CÔNG TY
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-right" data-aos-delay="400">
                                        <h4 class="chart-tt">
                                            BAN TỔNG <br> GIÁM ĐỐC
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-right" data-aos-delay="600">
                                        <h4 class="chart-tt">
                                            văn phòng TGD
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-right" data-aos-delay="800">
                                        <h4 class="chart-tt">
                                            Phòng chính tổng hợp
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-right" data-aos-delay="1000">
                                        <h4 class="chart-tt">
                                            phòng kinh doanh & TT
                                        </h4>
                                    </li>
                                    <li class="chart-item" data-aos="fade-right" data-aos-delay="1200">
                                        <h4 class="chart-tt">
                                            phòng quản lý dự án
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="landing partner" id="partner">
                    <div class="container">
                        <div class="partner-wrapper">
                            <div class="partner-txt">
                                <h3 class="partner-title tt-33 f-bold t-uppercase main-cl bd-lr  wow animate__bounceIn">
                                    ĐỐI TÁC CỦA IPICO
                                </h3>
                                <p class="partner-p tt-16">
                                    Với khả năng sở hữu diện tích đất đai quy mô lớn, mục tiêu chiến lược trong việc
                                    phát
                                    triển
                                    các dự án trong tương lai cùng với kinh nghiệm quản lý dày dặn, IPICO hướng tới mở
                                    rộng
                                    thị
                                    trường sản xuất Việt Nam, đặc biệt tại
                                    các khu kinh tế trọng điểm.
                                </p>
                            </div>
                            <div class="partner-slide" id="slide-partner" data-aos="fade-up">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="partner-inner">
                                                <div class="partner-img">
                                                    <a href="#">
                                                        <img src="./img/logo-best.png" alt="logo-best.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="partner-inner">
                                                <div class="partner-img">
                                                    <a href="#">
                                                        <img src="./img/logo-shopee.png" alt="logo-shopee.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="partner-inner">
                                                <div class="partner-img">
                                                    <a href="#">
                                                        <img src="./img/logo-genepa.png" alt="logo-genepa.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="partner-inner">
                                                <div class="partner-img">
                                                    <a href="#">
                                                        <img src="./img/logo-moto.png" alt="logo-moto.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="partner-inner">
                                                <div class="partner-img">
                                                    <a href="#">
                                                        <img src="./img/logo-kaidi.png" alt="logo-kaidi.png">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </main>
        <footer class="footer">
            <div class="footer-top sec-50">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column ft-txt">
                                <div class="ft-inner">
                                    <div class="ft-text">
                                        <h3 class="ft-title tt-24 t-uppercase">
                                            ĐĂNG KÝ NHẬN TIN
                                        </h3>
                                        <p class="ft-p tt-16">
                                            Vui lòng nhập email để nhận được tin tức từ IPICO
                                        </p>
                                    </div>
                                    <form action="#" class="ft-input">
                                        <input type="text" class="f-control" placeholder="Nhập email của bạn">
                                        <button class="f-submit">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                        </button>

                                    </form>
                                </div>
                            </div>
                            <div class="column ft-share">
                                <div class="ft-inner">
                                    <p class="ft-p-socail tt-16">
                                        Chia sẻ ngay:
                                    </p>
                                    <div class="box-share">
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="ft-socail">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-mid">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-logo">
                                        <a href="#">
                                            <img src="./img/logo-footer.png" alt="logo-footer.png">
                                        </a>
                                    </div>
                                    <p class="ft-desc">
                                        Công ty TNHH Đầu tư Xây dựng và Kinh doanh Kết Cấu Hạ Tầng Khu Công Nghiệp Sơn
                                        Mỹ (Tên viết tắt: IPICO) là doanh nghiệp có hoạt động cốt lõi trong lĩnh vực
                                        phát triển hạ tầng khu công nghiệp và phát triển các dự án bất động sản khác.
                                    </p>
                                </div>
                            </div>
                            <div class="column ft-menu">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        THÔNG TIN
                                    </p>
                                    <ul class="ft-list">
                                        <li class="ft-item">
                                            <a href="#">Trang chủ</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Giới thiệu</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">FAQs</a>
                                        </li>
                                        <li class="ft-item">
                                            <a href="#">Điều khoản sử dụng</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        văn phòng TP.hcm
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            117 Pasteur, P.6, Q.3
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <p class="ft-label tt-20">
                                        Văn phòng Bình thuận
                                    </p>
                                </div>
                                <div class="ft-info">
                                    <div class="ft-b">
                                        <a href="#" class="ft-link ft-address">
                                            Số 1 Đường 1, KCN Biên Hòa 1, P. An Bình, TP. Biên Hòa, Tỉnh Đồng Nai, Việt
                                            Nam.
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="tel:0123456789" class="ft-link ft-phone">
                                            <span> Số điện thoại:</span> (+84) 0123 456 789
                                        </a>
                                    </div>
                                    <div class="ft-b">
                                        <a href="mailto:Info@gmail.com" class="ft-link ft-email">
                                            <span> Email:</span> Info@gmail.com
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="ft-wrapper">
                        <div class="columns">
                            <div class="column">
                                <p class="copyright">
                                    Copyright © 2021 <span>IPICO</span>. All rights . Designed by <span>Mona
                                        Media</span>
                                </p>
                            </div>
                            <div class="column">
                                <div class="ft-inner">
                                    <div class="ft-bct">
                                        <img src="./img/img-bct.png" alt="img-bct.png">
                                    </div>
                                    <div class="ft-policy">
                                        <a href="#" class="ft-item">
                                            Chính Sách & Quy Định
                                        </a>
                                        <a href="#" class="ft-item">
                                            Bảo Mật Thông Tin
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Phần Search Mobi -->
        <div class="search-mobile">
            <form action="#" class="search-form">
                <!-- <h2 class="main-title t-center --mb-25">Tìm kiếm</h2> -->
                <input type="text" class="f-control" placeholder="Tìm kiếm...">
                <button class="f-submit" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </form>
            <div class="search-mobile-close">
                <i class="fa fa-times" aria-hidden="true"></i>
            </div>
        </div>
        <!-- scroll top 1 -->
        <div class="scroll-top"></div>
    </div>
    <!-- js -->
    <script src="./js/libs/jquery-3.5.1.js"></script>
    <!-- AOS -->
    <script src="./js/libs/aos/aos.js"></script>
    <!-- Swiper -->
    <script src="./js/libs/swiper/swiper.min.js"></script>
    <!-- lighrgallery -->
    <script src="./js/libs/lightgallery/lightgallery-all.min.js"></script>
    <!-- popup -->
    <script src="./js/libs/popup/jquery.magnific-popup.js"></script>
    <!-- fluidplayer -->
    <script src="./js/libs/fluidplayer/fluidplayer.js"></script>
     <!-- wow -->
   <script src="./js/libs/wow/wow.min.js"></script>
   <!-- Style -->
   <script src="./js/style.js" type="module" defer></script>
</body>

</html>