.breadcrumb {
    width: 100%;
    &.mt-30{
        margin-top: 20px;
        @include max-media($bk-d-992){
            margin-top: 5px;
        }
    }

    .breadcrumb-menu {
        display: flex;
        padding: 10px 0;
        align-items: center;

        @include max-media($bk-576) {
            overflow-x: scroll;
            white-space: nowrap;
            @include custom-vertical-scrollbar(2px);
        }


        .breadcrumb-list {
            position: relative;

            &:not(:first-child) {
                &::before {
                    content: '/ ';
                    color: #000000;
                    font-size: 14px;
                    font-weight: 700;
                    left: 12px;
                    top: 2px;
                    line-height: 12px;
                    margin-right: 10px;
                }

                padding-left: 13px;
            }

            &:first-child {

                &::before {
                    content: '\f015 ';
                    font-family: 'Fontawesome';
                    font-size: 16px;
                    color: $main-cl;
                    margin-right: 15px;
                }
            }

            &.current {
                color: $main-cl;
                font-weight: bold;
            }

            a {
                font-size: 15px;
                transition: all .3s ease;
                text-transform: uppercase;

                @include max-media($bk-d-768) {
                    font-size: 13px;
                }

                &:hover {
                    color: $main-cl;
                }
            }
        }
    }
}