.swiper-container {
    .swiper-pagination {
        bottom: 0;
        .swiper-pagination-bullet{
            margin: 0 10px;
        }
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
       
        background-color: $w-cl;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: $main-cl;
        
    }

    

   
}

.swiper-button-next , .swiper-button-prev{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    position: absolute;
    transition: all .3s ease;
    &::after{
        content: '';
        font-family: 'Fontawesome';
        font-size: 40px;
        position: absolute;
        top: 50%;
        line-height: 20px;
        transition: all .3s ease;
        color: $w-cl;
    }
    background-color: $main-cl;
  
    &:hover{
        background-color: $w-cl;
        box-shadow: 10px 10px 30px rgba($color: $b-cl, $alpha: 0.16);
       &::after{
           color: $main-cl;
       }
    }
    @include max-media($bk-d-768) {
        width: 40px;
        height: 40px;

        &::after {
            font-size: 30px;
        }
    }
}
.swiper-button-prev{
   
    &::after{
        content: '\f104';
        left: 45%;
        transform: translate(-50%, -50%);
    }
}

.swiper-button-next{
  
    &::after{
        content: '\f105';
        right: 45%;
        transform: translate( 50%, -50%);
        
    }
}